{
  "id": 3,
  "full_name": "Agus Harimurti Yudhoyono",
  "alias_name": "Agus Yudhoyono",
  "place_of_birth": "Bandung, Jawa Barat",
  "date_of_birth": "1978-08-10",
  "religion": "Islam",
  "website_url": ""
  "photo_url": "https://upload.wikimedia.org/wikipedia/commons/b/b7/Mayor_Infanteri_Agus_Harimurti_Yudhoyono%2C_M.Sc.%2C_MPA.png",
  "fbpage_username": "",
  "twitter_username": "agusyudhoyono",
  "instagram_username": "agusyudhoyono",
  "inserted_at": 1341533193,
  "updated_at": 1341533193
}
