[
  {
    "id": 1,
    "full_name": "Basuki Tjahaja Purnama",
    "alias_name": "Ahok",
    "place_of_birth": "Manggar, Belitung Timur",
    "date_of_birth": "1966-06-29",
    "religion": "Kristen Protestan",
    "website_url": "http://ahok.org",
    "photo_url": "https://upload.wikimedia.org/wikipedia/id/7/7a/Gubernur_DKI_Basuki.jpg",
    "fbpage_username": "AhokBTP",
    "twitter_username": "basuki_btp",
    "instagram_username": "basukibtp",
    "inserted_at": 1341533193,
    "updated_at": 1341533193
  },
  {
    "id": 2,
    "full_name": "Anies Baswedan",
    "alias_name": "Anies",
    "place_of_birth": "Kuningan",
    "date_of_birth": "1969-05-07",
    "religion": "Islam",
    "website_url": "http://aniesbaswedan.com"
    "photo_url": "https://upload.wikimedia.org/wikipedia/commons/e/eb/Anies-baswedan-Dec-2010.jpg",
    "fbpage_username": "aniesbaswedan",
    "twitter_username": "aniesbaswedan",
    "instagram_username": "aniesbaswedan",
    "inserted_at": 1341533193,
    "updated_at": 1341533193
  }
]
