[
  {
    "id": 1,
    "name": "detikcom",
    "website_url": "http://detik.com",
    "logo_url": "https://cdn.detik.net.id/detik2/images/logodetikcom.png?1",
    "fbpage_username": "detikcom",
    "twitter_username": "detikcom",
    "instagram_username": "detikcom",
    "insertedAt": 1341533193,
    "updatedAt": 1341533193
  }
]
