[
  {
    "id": 1,
    "mediaId": 3,
    "title": "Kunjungan Presiden Jokowi ke Depok",
    "url": "https://rojaktv.com/jokowi-jalan-jalan-ke-depok",
    "author_name": "Anto",
    "insertedAt": 1341533193,
    "updatedAt": 1341533193
  },
  {
    "id": 2,
    "mediaId": 3,
    "title": "Budi Berpasangan dengan Ani",
    "url": "https://rojaktv.com/budi-berpasangan-ani",
    "author_name": "Anto",
    "insertedAt": 1341533201,
    "updatedAt": 1341533201
  }
]
