{
  "id": 1,
  "media_id": 3,
  "title": "Kunjungan Presiden Jokowi ke Depok",
  "url": "https://rojaktv.com/jokowi-jalan-jalan-ke-depok",
  "author_name": "Anto",
  "inserted_at": 1341533193,
  "updated_at": 1341533193,

  "mentions": [
    {
      "id": 1,
      "full_name": "Basuki Tjahaja Purnama",
      "alias_name": "Ahok",
      "place_of_birth": "Manggar, Belitung Timur",
      "date_of_birth": "1966-06-29",
      "religion": "Kristen Protestan",
      "website_url": "http://ahok.org",
      "photo_url": "https://upload.wikimedia.org/wikipedia/id/7/7a/Gubernur_DKI_Basuki.jpg",
      "fbpage_username": "AhokBTP",
      "twitter_username": "basuki_btp",
      "instagram_username": "basukibtp",
      "inserted_at": 1341533193,
      "updated_at": 1341533193,

      "sentiment": {
        "type": "positive",
        "score": 0.123,
      }
    }
  ]
}
