[
  {
    "id": 1,
    "name": "Ahok Djarot",
    "cagub_id": 1,
    "cawagub_id": 2,
    "website_url": "http://ahokdjarot.id",
    "logo_url": "http://ahokdjarot.id/themes/custom/jakartabaru/logo.png",
    "fbpage_username": "AhokDjarot",
    "twitter_username": "AhokDjarot",
    "instagram_username": "ahokdjarot",
    "slogan": "TETAP AHOK-DJAROT!",
    "description": "Jangan biarkan Jakarta Baru berhenti sampai disini! Mari Bersama-sama Dukung Ahok & Djarot sebagai Cagub & Cawagub DKI Jakarta 2017.",
    "inserted_at": 1341533193,
    "updated_at": 1341533193,

    "sentiments": {
      "positive": 0.41256,
      "negative": 0.12345,
      "neutral": 0.46399
    }
  },
  {
    "id": 2,
    "name": "Anies Sandi",
    "cagub_id": 3,
    "cawagub_id": 4,
    "website_url": "",
    "logo_url": "",
    "fbpage_username": "",
    "twitter_username": "",
    "instagram_username": "",
    "slogan": "",
    "description": "",
    "inserted_at": 1341533193,
    "updated_at": 1341533193,

    "sentiments": {
      "positive": 0.41256,
      "negative": 0.12345,
      "neutral": 0.46399
    }
  }
]
