{
  "id": 3,
  "name": "Agus Sylvi",
  "cagub_id": 5,
  "cawagub_id": 6,
  "website_url": "http://relawanagussylvi.com",
  "logo_url": "https://pbs.twimg.com/profile_images/783564904460460032/VgVxZX-l.jpg",
  "fbpage_username": "RelawanAgusSylvi",
  "twitter_username": "RelAgusSylvi",
  "instagram_username": "",
  "slogan": "Jakarta Untuk Rakyat",
  "description": "",
  "inserted_at": 1341533193,
  "updated_at": 1341533193
}
