[
  {
    "id": 1,
    "name": "detikcom",
    "website_url": "http://detik.com",
    "logo_url": "https://cdn.detik.net.id/detik2/images/logodetikcom.png?1",
    "fbpage_username": "detikcom",
    "twitter_username": "detikcom",
    "instagram_username": "detikcom",
    "inserted_at": 1341533193,
    "updated_at": 1341533193

    "sentiments": {
      "positive": 0.41256,
      "negative": 0.12345,
      "neutral": 0.46399
    }
  }
]
