<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.almost-flat.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet"> 
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <style>
      @import url(//webfonts-plus.herokuapp.com/src?family=Montserrat);
      html {
        background: #FAFAFA;
      }
      body * {
        font-family: 'Montserrat', 'Raleway', 'Helvetica Neue', sans-serif;
        color: rgb(51, 51, 51);
        font-size: 15px;
        letter-spacing: 0.5px;
      }
      
    </style>
  </head>
  <body>
    <div id='root'>
    </div>
  </body>
</html>
