.resultHeader {
  font-size: 20px;
}

.resultRow {
  line-height: 2;
}

.resultCell {
  font-size: 18px;
}

.socialMedia {
  float: right;
}

.socialIcon {
  font-size: 30px;
  margin: 5px;
}

.resultWrapper {
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 50px;
  -webkit-animation: fadeIn 1s ;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}