.resultWrapper {
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 50px;
  -webkit-animation: fadeIn 1s ;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.resultWrapper .resultHeader {
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}