#%RAML 0.8
title: Rojak API
version: v1
baseUri: https://api.rojak.com/
mediaType: application/json

resourceTypes:
  - collection:
      description: Collection of available <<resourcePathName>>.
      get:
        description: Get a list of <<resourcePathName>>.
        responses:
          200:
            body:
              application/json:
                example: |
                  <<exampleCollection>>
  - collection-item:
      description: Entity representing a <<resourcePathName|!singularize>>.
      get:
        description: |
          Get the <<resourcePathName|!singularize>>
          with <<resourcePathName|!singularize>>Id =
          {<<resourcePathName|!singularize>>Id}.
        responses:
          200:
            body:
              application/json:
                example: |
                  <<exampleItem>>
          404:
            body:
              application/json:
                example: |
                  { "message" : "<<resourcePathName|!singularize>> not found" }

/pairings:
  type:
    collection:
      exampleCollection: !include examples/pairings-list.sample
  /{pairingId}:
    type:
      collection-item:
        exampleItem: !include examples/pairing.sample
    /news:
      get:
        description: Get list of news mentioning both or either of the candidates with their sentiments.
    /sentiments:
      get:
        description: Get the overall sentiments for these pairing.
      /media:
        get:
          description: Get a breakdown of media with their sentiment for these candidates.
        /{mediaId}:
          get:
            description: Get the sentiment by this media for these candidates.
          /news:
            get:
              description: Get a breakdown of sentiments from the news of this media.

/candidates:
  type:
    collection:
      exampleCollection: !include examples/candidates-list.sample
  /{candidateId}:
    type:
      collection-item:
        exampleItem: !include examples/candidate.sample
    /news:
      get:
        description: Get list of news mentioning this candidate.
    /sentiments:
      get:
        description: Get the overall sentiments for this candidate.
      /media:
        get:
          description: Get a breakdown of media with their sentiment for this candidate.
        /{mediaId}:
          get:
            description: Get the sentiment by this media for this candidate.
          /news:
            get:
              description: Get a breakdown of sentiments from the news of this media.


/news:
  type:
    collection:
      exampleCollection: !include examples/news-list.sample
  /{newsId}:
    type:
      collection-item:
        exampleItem: !include examples/news.sample
    /candidates:
      get:
        description: Get list of candidates mentioned in this article.
    /sentiments:
      get:
        description: Get the sentiments score of this article for each candidate.

/media:
  type:
    collection:
      exampleCollection: !include examples/media-list.sample
  /{mediaId}:
    type:
      collection-item:
        exampleItem: !include examples/media.sample
    /news:
      get:
        description: Get list of news articles of this media.
    /sentiments:
      get:
        description: Get the sentiments score of this media for each candidate.
